
/*Navigation Bar Styling*/

header{
  background-color: #404E5A;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 #1d2329;
}

header * {
  display: inline;
}

header li {
  margin: 10px;
}

header li a {
  color: white;
  text-decoration: none;
}

.nav {
  width: 100%;
  position: relative;
  text-align: center;
  top: 0;
}

.nav li a{
  width: 100%;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

.nav a:hover {
  background-color: #7BED8D;
  border-radius: 30px;
}

.nav a.active {
  background-color: #4ae962;
  border-radius: 30px;
}

#logout{
  text-align: right;
  position: absolute;
  top: 25px;
  height: 0px;
}

#user_acc{
  text-align: right;
  position: absolute;
  top: 25px;
  height: 0px;
  right: 130px;
}

/*Background Color and Font Stacks*/

html, body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  background: #404E5A;
}

h1 {
  margin: 0;
}

/*Tables*/

table {
  border-collapse: separate; 
  border-spacing: 0 20px; 
  margin-top: -10px;
  padding-top: 10px;
  width: 98%;
  background-color: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  }
  
th {
  border: none;
  text-align: center;
  padding: 30px;
  background-color: #4E5D6A;
}

th:first-child {
  border-left-style: none;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}

th:last-child {
  border-right-style: none;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}

td {
  border: none;
  padding: 30px;
  background-color: #4E5D6A;
  text-align: center;
}

td:first-child {
  border-left-style: none;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-right-style: none;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}

/*Buttons*/
button{
  width: 20%;
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}

/*Sliders*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4ae962;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4ae962;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  
/* Pop-up Forms */

.chg_btn {
  background-color: #4ae962;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.85;
  border-radius: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #4E5D6A;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 2px 5px 1px #1d2329;
  position:fixed;
  width:300px;
  height:250px;
  top:40%;
  left:50%;
  margin-top:-140px;
  margin-left:-175px;
  border-radius:3px;
}

/* The Close Button */
.close {
  color: #4ae962;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-left:10px;
  padding-top:10px;
}

input[type=text]{
  color: #0f0524;
  padding-left: 10px;
  margin: 8px;
  margin-top: 10px;
  width: 270px;
  height: 35px;
  font-size: 12px;
}

#chg_btn_final{
  width: 180px;
  margin: 0 auto;
  margin-left: 60px;
  margin-top: 20px;
  background-color: #4ae962;
  color: white;
  border: none;
  height: 50px;
  border-radius: 30px;
}